<div class="container">
  <div class="row">
    <h1>Projects</h1>
  </div>
  <div class="row">
    <%= link_to 'New Project', new_project_path, class: "btn btn-info" %>
  </div>
  <br/>
  <% @projects.each do |project| %>
  <div class="col-md-4" id="project-item">
      <%= link_to "#{project.name}", project_path(project), id: "project-name" %>
    <div class="img img-responsive">
      <center><%= image_tag project.photos.first.image_url, class: "img img-responsive" %></center>
    </div>

    <div id="admin-options">
      <%= link_to 'Edit', edit_project_path(project) %>
    </div>
  </div>
  <% end %>
</div>
<br/>