body {
    padding-top: 65px;
}
.navbar {
  margin-bottom: 0px;
  width: 100vw;
  border-radius: 0;
}

#carousel-example-generic {
  margin-top: 5px;
  border: solid black 5px;
}

#project-name {
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}